#first{
  background-color: aquamarine;
  color:rgba(37, 27, 89, 0.7);
}
main{
  height: 500px;
  background-color: blanchedalmond;
}
#second{
  /* background-color: yellow; */
  /* background-image: url('../../images/css.jpg'); */
  height: 300px;
  width: 800px;
  /* background-repeat: no-repeat;
  background-position: center; 
  background-size: contain; */
  background: yellow url("../../images/css.jpg")no-repeat center /contain;
}